* {
  margin: 0;
  padding: 0;
}

body {
  font-family: valera round;
  background-color: #a7bcb9;
  font-weight: bold;
  color: #757a79;
  text-shadow: 0 10px 10px rgb(0, 0, 0, 0.3);
}

#one {
  grid-column: 1 / 2;
}

#two {
  grid-column: 3 / 4;
}

#third {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.size {
  font-size: 25px;
  text-align: center;
  margin-top: 8px;
}

.score {
  font-size: 35px;
  text-align: center;
}

.display {
  font-size: 65px;
}
#score1 {
  grid-row: 5 / 6;
}

#score2 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

#second {
  grid-column: 2/ 3;
  grid-row: 3/4;
}

.scoreboard {
  background-color: #d5def5;
  border-radius: 10%;
  width: 140px;
  height: 80px;
  padding: 5px;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.4);
}

.btn {
  font-family: valera round;

  font-size: 20px;
  font-weight: bold;
  color: #757a79;
  padding: 5px;

  background-color: #d5def5;
  height: 35px;
  width: 150px;
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.4);
}

#roll {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: grid;
  gap: 15px;

  border-width: 10px;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
  gap: 20px;
  width: 800px;
  height: 450px;
  background-color: #455d7a;
  justify-content: center;
  margin: 100px auto;
  border-radius: 1.5%;
  padding: 30px 30px;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.3);
}

img {
  width: 75px;
  height: 75px;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.3);
  /* display: grid; */
  border-radius: 10%;
}

.hidden {
  display: none;
}
